@model OnlineExamManagement.Models.Db.Answers

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Answers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Correct)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Correct)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuestionNoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuestionNoNavigation.QuestionNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AnswerSerial">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
